* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.container {
    border: 1px solid black;
    width: 800px auto;
    text-align: center;
}

.head {
    background-color: rgb(207, 63, 10);
    padding: 30px;
}

h1,
h2 {
    color: #ffffff;
}

.head h1 {
    font-size: 46px;
    padding-bottom: 14px;
    font-family: 'Courier New', Courier, monospace;
}

.head h2 {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.main {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 22px;
    margin: 25px 60px 12px 60px;
    list-style-type: none;
}

ul {
    list-style-type: none;
}

.main h3 {
    font-size: 18px;
}

.main p {
    margin-top: 10px;
}

.button {
    display: block;
    margin: 0 auto;
    margin-top: 22px;
    margin-bottom: 22px;
}

a {
    background-color: orangered;
    color: #ffffff;
    border: 50px;
    padding: 14px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}